v-app
  v-toolbar.hidden-lg-and-up(app)
    v-toolbar-title {{ title() }}
  v-navigation-drawer#drawer.hidden-md-and-down.gray.lighten-1(
    fixed
    touchless
    app
    )
    v-list(dense)
      v-list-tile(v-for="(item, index) in nav" :key="index" :to="item.path")
        v-list-tile-action
          v-icon {{ item.icon }}
        v-list-tile-content
          v-list-tile-title
            span {{ item.title }}
  v-content
    v-container.column(v-if="error" fluid fill-height justify-center align-center)
      v-card
        v-card-title {{ error.statusCode }}
        v-expansion-panel.elevation-0
          v-expansion-panel-content
            div(slot="header")
              span Details
            p {{ error }}
            //- v-tree(v-model='error')
        v-btn.elevation-0(fab loading)
          v-icon home
    nuxt(v-else)
  v-bottom-nav.hidden-lg-and-up.gray.lighten-1(fixed app :value="true")
    v-btn(v-for="(item, index) in nav" :key="index" :to="item.path" flat color="gray")
      //- span {{ item.title }}
      v-icon {{ item.icon }}
